<h1>New requirement</h1>

<% form_for(@requirement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.label :event_id %><br />
		<%= f.collection_select :event_id,
														@events, :id, 
														:name_with_location_date, 
														:include_blank => '-- Select an event --' %> 
  </p>
  <p>
    <%= f.label :item_id %><br />
		<%= f.collection_select :item_id,
														@items, :id, 
														:name_with_unit, 
														:include_blank => '-- Select an item --' %> 
  </p>
  <p>
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', requirements_path %>
