<h1>Editing Event & Requirements</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :location %><br />
		<%= f.collection_select :location_id,
														@locations, :id, 
														:name, 
														:include_blank => '-- Select a location --' %> 
  </p>

<p>
	<b>Requirements:</b>
</p>

	<div id="requirements">
		<%= render :partial => 'requirement', :collection => @event.requirements %>
	</div>

  <p>
    <%= f.submit 'Update Requirements' %>
 </p>
<% end %>

<%= link_to 'Finished Adding/Updating', @event %>
