<h1><%=h @event.name %></h1>

<h3><%=h @event.location.name %>. 
		<%=h short_date_time @event.date %>
</h3>

<% if current_user %>
	<%=h link_to 'Edit Event or Requirements', edit_event_path(@event) %>
<% end %>

<% if @requirements.count > 0 %>
	<h2>Requirements:</h2>

	<table>
		<tr>
		  <th>Item</th>
		  <th>Units</th>
		  <th>Still Need</th>
		</tr>

	<% @requirements.each do |requirement| %>
		<tr>
		  <td><%=h requirement.item.name %></td>
		  <td><%=h requirement.item.unit %></td>
		  <td><%=h @event.contributions_still_required_for(requirement.item.id, @event.id) %>
			<% if current_user %>
				of <%=h requirement.qty %>
			<% end %>			
			</td>
			<td>
					<% if @event.contribution_less_than_required_for(requirement.item.id, @event.id) %> 
							<%= link_to 'Make Contribution', add_contribution_url(:id => @event.id,:req_id => requirement.id) %>
					<% else %>
							Requirement (<%=h requirement.qty %>) met
					<% end %>


			</td>
		</tr>
	<% end %>
<% end %>
</table>
