<h1>Admin</h1>
<p>
   Admin options:
	<ul>
		<li><%= link_to 'Create an event', new_event_path %></li>
		<li><%= link_to 'View events', events_path %></li>
		<li><%= link_to 'Manage Categories', categories_path %></li>
		<li><%= link_to 'Manage Items', items_path %></li>
		<li><%= link_to 'Manage Locations', locations_path %></li>
		<li><%= link_to "Edit Admin user details", edit_user_path(current_user) %></li>
		<li><%= link_to "Create a new Admin user", new_user_path %></li>
	</ul>
</p>
