<h1>Help page</h1>
<p>See demonstrations for how to:
	<ul>
		<li><a href="#view_events">View the upcoming events</a></li>
		<li><a href="#list_requirements">See the list of items required for an event & what's been contributed</a></li>
		<li><a href="#add_contributions">Make a contribution for an event</a></li>
		<li><a href="#my__event_contributions">View my contributions for a specific event</a></li>
		<li><a href="#my_contributions">View all my contributions</a></li>
		<li><a href="#edit_contribution">Edit my contributions</a></li>
		<li><a href="#additional_assistance">Seek further assistance</a></li>
	</ul>
</p>

<a name="view_events"></a>
<h3>How to view upcoming events</h3>
<p>
		From the <%= link_to "Home", root_path %> page, find the section titled "Upcoming Events". All future events will be listed here. For a list of historical events, click on <b><u><%= link_to "Events", events_path %></u></b> from the menu in the top right of your screen.
</p>

<a name="list_requirements"></a>
<h3>How to see the list of items required for an event</h3>
<p>
		From the <%= link_to "Home", root_path %> page, find the section titled "Upcoming Events". Locate your specific event in the list and click on the link titled "View Requirements". 
</p>

<a name="add_contributions"></a>
<h3>How to make a contribution for an event</h3>
<p>
	<b>Step 1 - Find events:</b> From the <%= link_to "Home", root_path %> page, find the section titled "Upcoming Events". All future events will be listed here.
</p>

<p>
	<b>Step 2 - View Requirements:</b> From the list of events click on the link titled "View Requirements". 
</p>

<p>
	<b>Step 3 - Make contribution:</b> From the list of items required for the event, click on <b>"Make Contribution"</b>.
<img src="../images/event.png" width="800" alt="home page" />
</p>

<p>
	<b>Step 4 - Submit contribution:</b> On the "New Contribution" page:
</p>
			<ul>
				<li>Use the drop down list to select the quantity you will contribute.</li>
				<li>Write a name representing who is contributing the items (Eg Mrs Smith, Barbara Williams, Peterson Family).</li>
				<li>When the quantity and name are set, press the "Save" button.</li>
			</ul>

<img src="../images/contribute.png" width="800" alt="home page" />
<p>
	If everything was successful, the details of your contribution will be shown and a message at the top of the screen will read, "Contribution was successfully added."
</p>

<a name="my__event_contributions"></a>
<h3>How to view my contributions for a specific event</h3>
<p>
		From the <%= link_to "Home", root_path %> page, find the section titled "Upcoming Events". Locate your specific event in the list and click on the link titled "View Requirements". Scroll down the page to the section titled "Contributions", click on any instance of your name in the list of contributions and a filtered list of just your contributions will be shown. Click "Clear" to view everyone's contributions again.
<img src="../images/my_contributions.png" width="800" alt="home page" />
</p>

<a name="my_contributions"></a>
<h3>How to view all my contributions made over multiple events</h3>
<p>
		From the menu at the top right of the screen, click on <b><u><%= link_to "My Contributions", individual_contributions_url(:search => session[:user_name]) %></u></b>. In the search field provided, enter the name for which you would like to see all the contributions made. Click "Search" to view any matching contributions. Click "Clear" to view everyone's contributions again.
</p>

<a name="edit_contribution"></a>
<h3>How to edit or delete one of my contributions</h3>
<p>
		Follow first the instructions from "How to see my contributions for a specific event". After completing these and with the list of your contributions showing, click "Options". This will show the details for the specific contribution you made. Make sure you have selected the correct contribution. From the options at the bottom of the page, you can select "Edit" to go to a page where you can change the quantity you contributed or change the name of the contributor. Or you can select "Destroy" to delete the contribution completely. This will reset the requirements and make it possible for others to contribute this item if it was previously completed.
</p>

<a name="additional_assistance"></a>
<h3>How to seek further assistance</h3>
<p>
   If you need further help, please contact Mr Michael Nelson <%= mail_to "mnelson@zis.ch" %>
</p>

