<h1>Listing contributions</h1>

<% form_tag contributions_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
		<%= link_to 'Clear', contributions_path %>
  </p>
<% end %>

<% if @contributions.count > 0 %>
	<table>
		<tr>
		  <th>Date</th>
		  <th>Contributed by</th>
		  <th>For Event</th>
		  <th>Item</th>
		  <th>Qty</th>
		</tr>

	<% @contributions.each do |contribution| %>
		<tr>
		  <td><%=h short_version_of contribution.created_at %></td>
		  <td><%= link_to contribution.email, individual_contributions_url(:search => contribution.email) %></td>
		  <td><%=h contribution.event.name %></td>
		  <td><%=h contribution.item.name %></td>
		  <td><%=h contribution.qty %></td>
		  <td><%= link_to 'Options', contribution %></td>
		</tr>
	<% end %>
	</table>

<%= will_paginate @contributions %>

<% else %>
	<p>There are no contributions found for '<%= params[:search] %>'.</p>
<% end %>
