<h1>New contribution</h1>

<p>
  <b>Event:</b>
  <%= @event.name %><br />
	<%= short_date_time @event.date %><br />
	<%= @event.location.name %>
</p>

<% form_for(@contribution) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :item_id %>
		<%= @contribution.item.name_with_unit %>
	</p>
	<p>		
	<b>"<%= @contribution.item.unit %>" required</b>
		<%=h @event.contributions_still_required_for(@contribution.item.id, @event.id) %>
	</p>
	<p>
		<b>Your contribution</b>
		<%  max_qty = @event.contributions_still_required_for(@contribution.item.id, @event.id)
				nums = (1..max_qty).to_a
				quantities = nums.collect{ |n| [n.to_s, n.to_s] }
				
 		%>
		<%= f.select(:qty, quantities, :include_blank => true) %>
	</p>

	<p>
    <%= f.label :email, "Your Name" %>
    <%= f.text_field :email, "max" => 18 %>
		<small>Examples: Jones Family. Mrs Williams.</small>
  </p>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :item_id %>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Back', event_path(:id => @event.id) %>
